@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');


body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #84b7f1;
    font-family: 'Playwrite NZ Basic', sans-serif;
}

.title{
    position: relative;
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    animation: animate 5s linear infinite;
    box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 300px #fff;
    padding: 0 20px;
    border-radius: 10px;
}